<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapp.mapper.BoardMapper">
    <select id="findAllByUserId" resultMap="findAllByUserIdResult">
        SELECT
        boa.board_id as board_id,
        boa.name as board_name,
        boa.user_uid as user_uid,
        til.tile_id as tile_id,
        til.name as tile_name,
        til.board_id as tile_board_id,
        til.indicator as tile_indicator,
        car.card_id as card_id,
        car.name as card_name,
        car.tile_id as card_tile_id,
        car.indicator as card_indicator

        FROM boards as boa
        LEFT JOIN tiles as til
        on til.board_id = boa.board_id
        LEFT JOIN cards as car
        on car.tile_id = til.tile_id
        WHERE boa.user_uid = #{user_uid}
        ORDER BY boa.board_id, til.indicator, car.indicator
    </select>
    <insert id="create" parameterType="com.example.todoapp.domain.Board">
        INSERT INTO
        boards (name, user_uid)
        VALUES ( #{name}, #{user_uid});
    </insert>
    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>
    <select id="load" resultType="com.example.todoapp.domain.Board">
        SELECT *
        FROM boards
        WHERE board_id = #{board_id};
    </select>
    <update id="update" parameterType="com.example.todoapp.domain.Board">
        update
        boards
        set
        name = #{name}
        WHERE
        board_id = #{board_id}
    </update>
    <delete id="delete">
        DELETE
        FROM
        boards
        WHERE
        board_id = #{boardId}
    </delete>
    <resultMap id="findAllByUserIdResult" type="com.example.todoapp.domain.Board">
        <id property="board_id" column="board_id"/>
        <result property="name" column="board_name"/>
        <result property="user_uid" column="user_uid"/>
        <collection property="tiles" ofType="com.example.todoapp.domain.Tile">
            <result property="tile_id" column="tile_id"/>
            <result property="name" column="tile_name"/>
            <result property="board_id" column="tile_board_id"/>
            <result property="indicator" column="tile_indicator"/>
            <collection property="cards" ofType="com.example.todoapp.domain.Card">
                <result property="card_id" column="card_id"/>
                <result property="name" column="card_name"/>
                <result property="tile_id" column="card_tile_id"/>
                <result property="indicator" column="card_indicator"/>
            </collection>
        </collection>
    </resultMap>
</mapper>