<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapp.mapper.CardMapper">
    <insert id="create" parameterType="com.example.todoapp.domain.Card">
        INSERT INTO
        cards (name, tile_id)
        VALUES (#{name}, #{tile_id});
    </insert>
    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>
    <update id="update" parameterType="com.example.todoapp.domain.Card">
        UPDATE
        cards
        SET
        name = #{name}
        WHERE
        card_id = #{card_id}
    </update>
</mapper>