<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapp.mapper.TileMapper">
    <insert id="create" parameterType="com.example.todoapp.domain.Tile">
        INSERT INTO
        tiles (name, board_id)
        VALUES (#{name}, #{board_id});
    </insert>
    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>
    <update id="update" parameterType="com.example.todoapp.domain.Tile">
        UPDATE
        tiles
        SET
        name = #{name}
        WHERE
        tile_id = #{tile_id}
    </update>
    <delete id="delete" parameterType="com.example.todoapp.domain.Tile">
        DELETE
        FROM
        tiles
        WHERE
        tile_id = #{tile_id}
    </delete>
</mapper>