<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapp.mapper.TileMapper">
    <insert id="create" parameterType="com.example.todoapp.domain.Tile">
        INSERT INTO
        tiles (name, board_id, indicator)
        VALUES (#{name}, #{board_id}, #{indicator} );
    </insert>
    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>
    <select id="getMaxIndicator" resultType="int">
        SELECT MAX(indicator)
        FROM tiles
        WHERE board_id = #{board_id};
    </select>
    <select id="load" resultType="com.example.todoapp.domain.Tile">
        SELECT *
        FROM tiles
        WHERE tile_id = #{tile_id};
    </select>
    <update id="update" parameterType="com.example.todoapp.domain.Tile">
        UPDATE
        tiles
        SET
        name = #{name},
        indicator = #{indicator}
        WHERE
        tile_id = #{tile_id}
    </update>
    <delete id="delete">
        DELETE
        FROM
        tiles
        WHERE
        tile_id = #{tileId}
    </delete>
    <select id="getTilesByBoardId" resultType="com.example.todoapp.domain.Tile">
        SELECT
         *
        FROM
         tiles
        WHERE
         board_id = #{boardId}
    </select>
</mapper>